{% extends "::base.html.twig" %}

{% block body %}
<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<div class="white-box">
			<h3 class="box-title text-center">Pago automatico</h3>
			<button class="btn btn-primary center-block">Enviar</button>
		</div>
	</div>
</div>
{% endblock %}
