<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Admin Responsive web app kit</title>
</head>
<body style="margin:0px; background: #d5c455; ">
<div width="100%" style="background: #d5c455; padding: 0px 0px; font-family:arial; line-height:28px; height:100%;  width: 100%; color: #1b262c;">
  <div style="max-width: 70%; padding:50px 0;  margin: 0px auto; font-size: 14px ">
    <!-- <img src="{{ asset ('img/fondo.jpg')}}" alt="" /> -->
    <div style="padding: 40px; background: #fff; ;border: 1px solid #e1f4f3 ; border-radius: 20px;">
    <div style="background-image: url(https://financeirocheznous.org/ample/images/fondo.jpg);height: 200px; background-position: 0px -115px;  border-radius: 20px;"></div>
      <table border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
        <tbody>
          <tr>
            <td>
              <h1 style="font-size: 50px ;text-align: center;">¡Salve María! {{user.username}}</h1>
              <h2>Tu usuario ha sido activado</h2>
              <h2>Usuario : <span style="font-weight: bold ; color: #1b262c;">{{user.username}}</span></h2>
              {% if user.pw %}
              <h2>Contraseña : <span style="font-weight: bold ;  color: #1b262c;">{{user.pw}}</span></h2>
              {% endif %}
              <a href="https://financeirocheznous.org" style=" width: 150px ;text-align: center;display: block; padding: 11px 30px; margin: 0 auto; font-size: 25px; color: #fff; background: #004445; border-radius: 10px; text-decoration:none;"> Ir a la web</a>
              <p>Un saludo.</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div style="text-align: center; font-size: 12px; color: #1b262c; margin-top: 20px">
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque eum, ut ipsam quam numquam autem omnis minima suscipit, officiis voluptates delectus officia ipsa nobis voluptate similique, eius aliquid unde est.</p>
    </div>
  </div>
</div>
</body>
</html>
