{% extends 'baseLogin.html.twig' %}
{% block body %}
<section id="wrapper" class="new-login-register">
	<div class="lg-info-panel">
		<div class="inner-panel">
			<div class="lg-content">
				<h2>FINANCEIRO CHEZNOUS</h2>
				<h2></h2>
			</div>
		</div>
	</div>
	<div class="new-login-box">
		<div class="well">
				<h3>Su solicitud de registro esta siendo procesada , cuando sea aprobada por el administrador recibira un correo con sus datos de inicio</h3>
				<div class="text-center">
					<a href="{{ path ('homepage')}}" class="btn btn-success">Volver al inicio</a>
			</div>
		</div>
	</div>
</section>
{% endblock %}