{% extends "::base.html.twig" %}

{% block body %}
<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<div class="white-box">
			<h3 class="box-title text-center">Solicitar</h3>
			<select class="form-control" name="" id="">
				<option selected value="">Seleccione una caja</option>
				<option value="">caja1</option>
				<option value="">caja2</option>
				<option value="">caja3</option>
			</select><br>
			<input class="form-control input-lg" placeholder="0,00" type="text"><br>
			<button class="btn btn-primary center-block">Enviar</button>
		</div>
	</div>
</div>
{% endblock %}
